@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Sets the background color of the body to blue. Sets font to Rubik */

body {
  font-family: 'rubik', sans-serif;
}

/* Aligns the heading text to the center. */
h1 {
  text-align: center;
}

.boxed {
  border: 1px solid green;
  padding: 10px;
}

.goal {
  border: 2px solid ; 
  border-top-color: black; 
  background-color: cornflowerblue;
  box-sizing: border-box; 
  grid-area: 1 / 1; /* first row, first column */
  padding: 20px; 
  width: inherit; 
  margin-top: 20px;
}

.approach {
  border: 2px solid ; 
  border-top-color: black; 
  background-color: lightblue;
  box-sizing: border-box; 
  grid-area: 1 / 1; /* first row, first column */
  padding: 5; 
  width: inherit; 
  margin-top: 1px;
  margin-bottom: 10px;
  font-size: small;
}

legend {
  font: 12pt/0 'Averia Serif Libre'; 
  margin: 5pt; /* to center */
  padding: 4px; 

}

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
  width: 480px;
  margin: 5px 5px;
  color: black;
  background-color: white;
  padding: 5px 5px;
}

.accordion .label {
    position: relative;
    padding: 0px 0;
    font-size: 16px;
    color: black;
    cursor: pointer;
  }

  /* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 16px;
    transform: translateY(-50%);
  }
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 10px;
    text-align: justify;
    width: 440px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  /* Adds a horizontal line between the contents */
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }

  /* Unhides the content part when active. Sets the height */

  .accordion.active .content {
    height: 500px;
    overflow-y: auto;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion.active .label::before {
    content: '-';
    font-size: 16px;
  }

  .accordion .webTitle {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
  }

  .accordion .webImageRow {
    overflow-x: auto;
    height: 150px;
    width: 440px;
  }

  .accordion .webImage {
    float: left;
    display: inline;
    padding-left: 10px;
    width: 180px;
    height: 150px;
    overflow: hidden;
  }

/* for use in overview.html */

  .title {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
  }

  .sideBySideImage {
    float: left;
    /* display: block; */
    width: 190px;
    /* padding-left: 10px; */
  }

  .webImageLongRow {
    overflow-x: auto;
    /* height: 150px; */
  }


